html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
}

body {
  display: flex; 
  flex-direction: column; 
}

a {
  color: blue;
}

header {
  background-color: #072768;
  color: #fff;
  padding: 20px;
  font-family: 'gblack';
}

a {
  text-align: left;
  vertical-align: middle;
}

.h-landing {
  background-color: #072768;
  color: #fff;
  padding: 50px;
  font-family: 'gblack';
}

header h1 {
  border-left: 4px solid #fff;
  padding: 0 16px;
}

nav {
  background-color: #5079B2;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  font-family: 'gm1';
}

.n-landing {
  background-color: #5079B2;
  color: #fff;
  border-right: 50px solid #072768;
  border-left: 50px solid #072768;
  text-align: center;
  padding: 25px;
  font-size: 1.2em;
  font-family: 'gm1';
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #072768;
}

main {
  padding: 20px;
  background-color: #fff;
  color: #000000;
  text-align: center;
  font-family: 'gb';
  flex: 1; 
}

div h1 {
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}

.m-landing {
    padding: 20px;
    background-color: #fff;
    color: #000000;
    border-right: 50px solid #072768;
    border-left: 50px solid #072768;
    text-align: center;
    font-family: 'gb';
    flex: 1; 
}

footer {
  background-color: #072768;
  color: #fff;
  padding: 20px;
  flex-shrink: 0; 
  font-family: 'gm';
  text-align: center;
}

.landing {
  background-color: #072768;
  color: #fff;
  padding: 20px;
  flex-shrink: 0; 
  font-family: 'gm';
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.p-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.p-container2 {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .p-container {
    max-width: 90%;
    text-align: justify;
    justify-content: flex-start;
  }
}

img {
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: 'gblack';
  src: url('fonts/Gotham-Black.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gb';
  src: url('fonts/GothamBook.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gm';
  src: url('fonts/GothamMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gm1';
  src: url('fonts/GothamMedium_1.ttf');
  font-weight: normal;
  font-style: normal;
}